<body bgcolor="#8bfddd">
  <div style="text-align: center; font-size: 26px">
    <h1 style="color: black; text-shadow: 3px 4px #010341">BATTLE GAME</h1>
  </div>
  <p style="color: #010341; text-align: center">SIGN IN TO PLAY</p>
  <form action="/names" method="post">
    <div style="font-size: 26px; text-align: center">
  <label for="player_1_name">
    Player 1 Enter name:
    <input type="text" name="player_1_name" style="border: 12px solid white; font-size: 26px; border-radius: 50px; text-align: center">
  </label>
  <label for="player_1_name">
    Player 2 Enter name:
    <input type="text" name="player_2_name" style="border: 12px solid white; font-size: 26px; border-radius: 50px;text-align: center">
  </label>
  </div>
  <br>
  <br>
  <input type="submit" value="START GAME" style="width: 100%; border: 12px solid white; font-size: 26px; border-radius: 50px">
</form>
<center><img src="http://www.depthgame.com/press/images/Depth-Bonus-BattleScarred-clean.png" style="width: 100%"></center>
</body>
